<div class="row">

    <div class="col-md-7 position">
        <div class="card ">
            <div class="card-body colorStyle ">

                <h4 class="card-title">Válvula</h4>
                <h6 class="card-subtitle">Nuevo / Actualizar información</h6>

                <form class="form p-t-20" [formGroup]="perfilForm" (submit)="actualizarPerfil()">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre de Usuario</label>
                        <div class="input-group">

                            <input type="text" class="form-control" id="exampleInputuname" formControlName="nombre" placeholder="Nombre del usuario">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Dirección email</label>
                        <div class="input-group">

                            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" [readOnly]="usuario.google" placeholder="Correo del usuario">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10" [disabled]="perfilForm.invalid">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-7 position">
        <div class="card">
            <div class="card-body colorStyle">
                <h4 class="card-title">Imagen</h4>
                <h6 class="card-subtitle">Avatar del usuario</h6>

                <div class="text-center">
                    <img *ngIf="!imgTemp" [src]="usuario.imagenUrl" class="img-avatar">
                    <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                </div>



                <input type="file" (change)="cambiarImagen($event.target.files[0])">

                <br>
                <br>

                <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()" class="btn btn-success btn-block waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Cambiar Imagen
                </button>

            </div>

        </div>

    </div>

</div>